.template{
    padding: 50px;
    height:560px;
    width: 1250px;
    position: fixed;
    border: 1px solid gray;
}
.top{
    padding: 0.5px;
    height: 79px;
    width: 1349px;
    border: 1px solid rgb(255, 255, 255);
    position: fixed;
    top: 8px;
    left: 8px;
}
.left{
    padding: 50px;
    height:479px;
    width: 120px;
    border: 1px solid rgb(255, 255, 255);
    position: fixed;
    top: 89px;
    left: 8px;
}
.right{
    padding: 50px;
    height:479px;
    width: 1029px;
    border: 1px solid rgb(255, 255, 255);
    position: fixed;
    top: 89px;
    left: 229px;
}
.image{
    padding: 10px;
    position: relative;
    top: -1px;
    left: 60px;
}
.fa-reorder{
    padding: 10px;
    position: relative;
    left: -140px;
    top: -26px;
}
.search{
    background-color:white;
    border: 1px solid gray;
    width: 480px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
    position: relative;
    top: -70px;
    left: 350px;

}
input{
    width: 240px;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
}
.fa-search{
    color: black;
    cursor: pointer;
}
.fa-microphone{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(220, 217, 217, 0.62);
    text-align:center;
    align-content: center;
    font-size: 19px;
    position: relative;
    left: 910px;
    top: -110px;
}
.create{
    padding: 10px;
    height: 20px;
    width: 90px;
    border-radius: 50px;
    background-color:rgba(220, 217, 217, 0.62);
    text-align: center;
    font-size: 18px;
    position: relative;
    top: -150px;
    left: 1090px;
}
.fa-bell{
    font-size: 28px;
    position: relative;
    top: -185px;
    left: 1230px;
}
.s{
    padding: 10px;
    height: 15px;
    width: 15px;
    font-size: large;
    border-radius: 50%;
    background-color: brown;
    text-align:center;
    color: white;
    position: relative;
    top: -235px;
    left: 1280px;
}
.all{
    padding: 10px;
    height: 10px;
    width: 22px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 7px;
    position: relative;
    top: -67px;
    left: -30px;
}
.music{
     padding: 10px;
    height: 10px;
    width: 35px;
    background-color:rgba(220, 217, 217, 0.62);
    color: black;
    text-align: center;
    border-radius: 7px;
    position: relative;
    top: -112px;
    left: 30px;
}
.games{
     padding: 10px;
    height: 10px;
    width: 50px;
    background-color:rgba(220, 217, 217, 0.62);
    color: black;
    text-align: center;
    border-radius: 7px;
    position: relative;
    top: -159px;
    left: 102px;
}
.cinema{
     padding: 10px;
    height: 10px;
    width: 110px;
    background-color:rgba(220, 217, 217, 0.62);
    color: black;
    text-align: center;
    border-radius: 7px;
    position: relative;
    top: -205px;
    left: 189px;
}
.mixes{
     padding: 10px;
    height: 10px;
    width: 50px;
    background-color:rgba(220, 217, 217, 0.62);
    color: black;
    text-align: center;
    border-radius: 7px;
    position: relative;
    top: -250px;
    left: 337px;
}
.live{
     padding: 10px;
    height: 10px;
    width: 50px;
    background-color:rgba(220, 217, 217, 0.62);
    color: black;
    text-align: center;
    border-radius: 7px;
    position: relative;
    top: -297px;
    left: 425px;
}
.data{
     padding: 10px;
    height: 10px;
    width: 90px;
    background-color:rgba(220, 217, 217, 0.62);
    color: black;
    text-align: center;
    border-radius: 7px;
    position: relative;
    top: -343px;
    left: 515px;
}
.web{
     padding: 10px;
    height: 10px;
    width: 150px;
    background-color:rgba(220, 217, 217, 0.62);
    color: black;
    text-align: center;
    border-radius: 7px;
    position: relative;
    top: -390px;
    left: 646px;
}
.website{
     padding: 10px;
    height: 10px;
    width: 70px;
    background-color:rgba(220, 217, 217, 0.62);
    color: black;
    text-align: center;
    border-radius: 7px;
    position: relative;
    top: -436px;
    left: 835px;
}
.animation{
     padding: 10px;
    height: 10px;
    width: 90px;
    background-color:rgba(220, 217, 217, 0.62);
    color: black;
    text-align: center;
    border-radius: 7px;
    position: relative;
    top: -480px;
    left: 955px;
}
.home{
    padding: 10px;
    height: 15px;
    width: 190px;
    background-color:rgba(220, 217, 217, 0.62);
    color: black;
    text-align: center;
    border-radius: 7px;
    font-size: 17px;
    position: relative;
    left: -50px;
    top: -60px;
}
.fa-home{
    padding:10px;
    font-size: 30px;
    position: relative;
    top: -115px;
    left: -25px;    
}
.fa-toggle-right{
    padding: 10px;
    font-size: 30px;
    position: relative;
    top: -70px;
    left: -63px;
}
.shorts{
     padding: 10px;
    font-size: 17px;
    position: relative;
    left: 22px;
    top: -125px;
}
.fa-laptop-code{
    padding: 10px;
    font-size: 17px;
    position: relative;
    left: -28px;
    top: -140px;
}
.subscribe{
    padding: 10px;
    font-size: 17px;
    position: relative;
    left: 22px;
    top: -196px;
}
.line1{
    padding: 0px;
    height: 1px;
    width: 190px;
    background-color:rgb(171, 168, 168);
    position: relative;
    left: -35px;
    top: -260px;
}
.you{
    padding: 10px;
    font-size: large;
    position: relative;
    top: -195px;
    left: -28px;
}
.fa-history{
    padding: 10px;
    font-size: 17px;
    position: relative;
    left: -25px;
    top: -215px;
}
.history{
    padding: 10px;
    font-size: 17px;
    position: relative;
    left: 22px;
    top: -270px;
}
.fa-sliders-h{
    padding: 10px;
    font-size: 17px;
    position: relative;
    left: -27px;
    top: -288px;
}
.playlist{
    padding: 10px;
    font-size: 17px;
    position: relative;
    left: 20px;
    top: -345px;
}
.fa-caret-square-o-right{
    padding: 10px;
    font-size: 17px;
    position: relative;
    left: -25px;
    top: -362px;
}
.your{
    padding: 10px;
    font-size: 17px;
    position: relative;
    left: 18px;
    top: -420px;
}
.fa-clock{
    padding: 10px;
    font-size: 17px;
    position: relative;
    left: -26px;
    top: -437px;
}
.watch{
    padding: 10px;
    font-size: 17px;
    position: relative;
    left: 18px;
    top: -493px;
}
.fa-thumbs-up{
     padding: 10px;
    font-size: 17px;
    position: relative;
    left: -26px;
    top: -513px;
}
.like{
     padding: 10px;
    font-size: 17px;
    position: relative;
    left: 18px;
    top: -567px;
}
.line2{
     padding: 0px;
    height: 1px;
    width: 190px;
    background-color:rgb(171, 168, 168);
    position: relative;
    left: -35px;
    top: -570px;
}
.explore{
    padding: 10px;
    font-size: large;
    position: relative;
    top: -585px;
    left: -28px;
}
.fa-fire{
    padding: 10px;
    font-size: 17px;
    position: relative;
    left: -26px;
    top: -608px;
}
.trending{
    padding: 10px;
    font-size: 17px;
    position: relative;
    left: 18px;
    top: -663px;
}
.fa-bookmark-o{
    padding: 10px;
    font-size: 17px;
    position: relative;
    left: -26px;
    top: -686px;
}
.bookmark{
    padding: 10px;
    font-size: 17px;
    position: relative;
    left: 18px;
    top: -740px;
}
.fa-thumbs-down{
    padding: 10px;
    font-size: 17px;
    position: relative;
    left: -27px;
    top: -764px;
}
.dislike{
    padding: 10px;
    font-size: 17px;
    position: relative;
    left: 18px;
    top: -820px;
}
.fa-comment{
    padding: 10px;
    font-size: 17px;
    position: relative;
    left: -27px;
    top: -844px;
}
.comment{
    padding: 10px;
    font-size: 17px;
    position: relative;
    left: 18px;
    top: -899px;
}
.fa-print{
    padding: 10px;
    font-size: 17px;
    position: relative;
    left: -27px;
    top: -923px;
}
.library{
    padding: 10px;
    font-size: 17px;
    position: relative;
    left: 18px;
    top: -979px;
}
.video1{
    padding: auto;
    position: relative;
    top: -485px;
    left: -25px;
}
.video2{
    padding: auto;
    position: relative;
    top: -808px;
    left: 295px;
}
.video3{
    padding: auto;
    position: relative;
    top: -1132px;
    left: 665px;
}
.video4{
    padding: auto;
    position: relative;
    top: -1160px;
    left: -075px;
}
.video5{
    padding: auto;
    position: relative;
    top: -1433px;
    left: 295px;
}
.video6{
    padding: auto;
    position: relative;
    top: -1705px;
    left: 665px;
}
.thump1{
    padding: auto;
    font-size: 17px;
    position: relative;
    top: -505px;
    left: 35px;
}
.thump2{
    padding: auto;
    font-size: 17px;
    position: relative;
    top:-830px;
    left: 410px;
}
.thump3{
    padding: auto;
    position: relative;
    top: -1150px;
    left: 790px;
}
.thump4{
    padding: auto;
    position: relative;
    top: -1173px;
    left:28px;
}
.thump5{
    padding: auto;
    position: relative;
    top: -1447px;
    left:410px;
}
.thump6{
    padding: auto;
    position: relative;
    top: -1720px;
    left:773px;
}
.sub1{
    padding: auto;
    font-size: 12px;
    color: gray;
    position: relative;
    top: -515px;
    left:35px;
}
.sub2{
    padding: auto;
    font-size: 12px;
    color: gray;
    position: relative;
    top: -840px;
    left:412px;
}
.sub3{
    padding: auto;
    font-size: 12px;
    color: gray;
    position: relative;
    top: -1155px;
    left:792px;
}

.img1{
    padding: auto;
    border-radius: 50%;
    width: 45px;
    position: relative;
    top: -760px;
    left: -20px;
}
.img2{
    padding: auto;
    border-radius: 50%;
    width: 45px;
    position: relative;
    top: -1080px;
    left: 350px;
}
.img3{
    padding: auto;
    border-radius: 50%;
    width: 45px;
    position: relative;
    top: -1398px;
    left: 730px;
}
.img4{
    padding: auto;
    border-radius: 50%;
    width: 45px;
    position: relative;
    top: -1383px;
    left: -30px;
}
.img5{
    padding: auto;
    border-radius: 50%;
    width: 45px;
    position: relative;
    top: -1655px;
    left: 350px;
}
.img6{
    padding: auto;
    border-radius: 50%;
    width: 45px;
    position: relative;
    top: -1773px;
    left: 720px;
}
